@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allan:wght@400;700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Quicksand:wght@300..700&display=swap');

body {
    margin: 0;
    background-color: white;
}

header {
    margin: 0px;
    background-color: #01adee;
    padding: 10px 20px;
    position: sticky;
    top: 0px;
}

nav {
    display: flex;
    align-items: center;
}


#logo {
    width: 100px;
    height: 100px;
}

#education_icon {
    width: 90px;
    height: auto;
    margin-top: 20px;
}

.a_header {
    float: none;
    color: white;
    text-align: center;
    font-family: Allan;
    padding: 12px;
    text-decoration: none;
    font-size: 32px;
    line-height: 25px;
    border-radius: 4px;
}

#goal_header {
    background: linear-gradient(to right, #c4192c, #8faa7a);
    border-style: rounded;
    border-radius: 15px;
    border-width: 2px;
    margin: 10px;
    box-shadow: 5px 5px 5px grey;
    align-items: center;
    display: inline-flex;
    flex-direction: column;
}

#goal_title {
    color: white;
    text-align: center;
    font-family: Garamond;
    font-size: 45px;
    padding: 15px;
    text-shadow: 3px 3px black;
    margin-top: 6px;
}

.title {
    color: white;
    text-align: left;
    font-family: Garamond;
    font-size: 45px;
    padding: 15px;
    text-shadow: 3px 3px black;
    margin-top: 6px;
}


#defintion_header {
    background: linear-gradient(to right, #126b9f, #20B2AA);
    border-style: rounded;
    border-radius: 15px;
    border-width: 2px;
    margin: 10px;
    box-shadow: 5px 5px 5px grey;
}

.basic_text {
    color: black;
    font-family: Libre Baskerville;
    text-shadow: 1px 1px grey;
    text-align: left;
    font-size: 22px;
    padding: 15px;
    margin-top: -50px;
}

#goal_description {
    color: black;
    font-family: Quicksand;
    font-variant: small-caps;
    text-shadow: 2px 1px grey;
    text-align: center;
    font-size: 55px;
    padding: 15px;
    margin-top: -50px;
}

#reasoning_header {
    background: linear-gradient(to right, #6800B3, #DDA0DD);
    border-style: rounded;
    border-radius: 15px;
    border-width: 2px;
    margin: 10px;
    box-shadow: 5px 5px 5px grey;
}

#help_header {
    background: linear-gradient(to right, #4ca046, #86bc83);
    border-style: rounded;
    border-radius: 15px;
    border-width: 2px;
    margin: 10px;
    box-shadow: 5px 5px 5px grey;
}

#donation_link {
    color: black;
}

#information_header {
    background: linear-gradient(to left, #E3963E, #E1C16E);
    border-style: rounded;
    border-radius: 15px;
    border-width: 2px;
    margin: 10px;
    padding-bottom: 10px;
    box-shadow: 5px 5px 5px #E1C16E;
}

#info_header_top{
    display: flex;
    align-items: center;
}

#info_header_top img{
    width: 90px;
    height: auto;
    margin-bottom: 25px;
}

#information_header ul{
    margin-top: -30px;
}

li {
    font-family: Libre Baskerville;
    text-shadow: 1px 1px grey;
    font-size: 22px;
    margin: 12px;
}

.big_text{
    font-family: Libre Baskerville;
    font-style: oblique;
    text-shadow: 1px 1px grey;
    font-size: 30px;
}